.shop-container {
  width: 80%;
  margin: 0 auto;

  opacity: 0.8;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-style {
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
  padding: 20px;
}

.name-price-style {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-page {
  width: 80%;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 2px solid rgb(136, 241, 241);
  border-right: 2px solid rgb(54, 151, 35);
  padding: 5px;
}

.space-form {
  display: flex;
  justify-content: space-between;
}
