body {
  position: relative;
}
.Home {
  color: white;
  width: 100%;
  height: 90vh;
  background-image: url("../assets/homeimg/interior.jpeg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner {
  background-color: thistle;
  border-radius: 5px;
  padding: 10px;
  opacity: 0.9;
}
.home-btn {
  width: 10%;
  height: 40px;
  align-self: center;
  opacity: 1;
}
nav {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  background-color: transparent;
}

ul {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  color: white;
}

.link-style {
  list-style: none;
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.link-style:hover {
  color: gray;
}

.logo-style {
  list-style: none;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.checkout {
  width: 80%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cursors {
  cursor: pointer;
  font-size: 20px;
  height: auto;
}

.row {
  width: 10%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;

  border: 1px solid black;
}

.ourBorder {
  border: 1px solid black;
  width: 40%;
  color: white;
  background-color: black;
}

.sizing-checkout {
  width: 80%;
  height: auto;
  margin: 10px auto;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-size {
  width: 50%;
  height: auto;
}

.fullwidth {
  width: 100%;
  margin: 0 auto;
}
